<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Rest" value="first" />
      <add key="ClickDrag" value="second" />
      <add key="DoubleClick" value="n" />
      <add key="RightClick" value="n" />
      <add key="Move" value="n" />
    </appSettings>
</configuration>